@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --lg-bg-color: rgba(255, 255, 255, 0.15);
    --lg-highlight: rgba(255, 255, 255, 0.75);
    --lg-text: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fcfcfc;
    font-size: 16px;
}

.hero-banner {
    position: relative;
    height: 40vh;
    min-height: 500px;
    overflow: hidden;
}

.hero-banner::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.30);
    z-index:1;
}

.slideshow {
    position: absolute;
    inset: 0;
    opacity: 70%;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideshow 30s infinite;
}

.slide1 {
    background-image: url(images/hero-banner1.jpg);
    animation-delay: 0s;
    transform: scaleX(-1);
}

.slide2 {
    background-image: url(images/hero-banner2.jpg);
    animation-delay: 5s;
}

.slide3 {
    background-image: url(images/hero-banner3.jpg);
    animation-delay: 10s;
}

.slide4 {
    background-image: url(images/hero-banner4.jpg);
    animation-delay: 20s;
}

@keyframes slideshow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.nav-wrapper{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
}

.liquidGlass-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;

    box-shadow:
        0 6px 6px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(0, 0, 0, 0.1);

    transition: all 0.4s cubic-bezier(
        0.175,
        0.885,
        0.32,
        2.2
    );
}

.liquidGlass-effect {
    position: absolute;
    inset: 0;

    z-index: 0;

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    filter: url(#glass-distortion);

    overflow: hidden;
}

.liquidGlass-tint {
    position: absolute;
    inset: 0;

    z-index: 1;

    background: rgba(255, 255, 255, 0.5);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;

    z-index: 2;

    overflow: hidden;

    box-shadow:
        inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
    position: relative;
    z-index: 3;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.8rem 1rem;
    border-radius: 5rem;
}

.nav,
.nav > div {
    border-radius: 2.5rem;
}

.nav:hover {
    padding: 1rem 1.2rem;
    border-radius: 2.5rem;
}

.nav:hover > div {
    border-radius: 2.5rem;
}

#menu-toggle {
    display:none;
}

.nav-header {
    display:flex;
    gap: 20vw;
    justify-content:center;
    align-items:center;
    height: 3vh;
}

.logo img {
    width: 45px;
    display: block;
}

.quote-btn button {
    background-color: #FFCB2E;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    padding: 6px 5px;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.2), 
        0 1px 3px rgba(0, 0, 0, 0.2);
}

.quote-btn button:hover {
    transform: translateY(-2px) translateX(2px); 
     box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
}


.hamburger {
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px 0;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    transition: .3s;

}

.nav-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    justify-self: center;
}

.nav-links a.active {
    border-bottom: solid 4px #FFCB2E;
    justify-self: center;
}

.nav-links a:hover {
    background: rgba(255, 229, 145, 0.1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 6px 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* OPEN MENU */
#menu-toggle:checked ~ .nav-links {
    max-height: 300px;
    padding-top: 1rem;

}

/* HAMBURGER ANIMATION */
#menu-toggle:checked + .nav-header .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(6px,6px);
}

#menu-toggle:checked + .nav-header .hamburger span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .nav-header .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px,-5px);
}

.hero-content {
    position: relative;
    z-index: 5;
    top: 23%;
    width: 65%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-content h1 {
    font-size: clamp(30px, 1vw, 40px);
    color: #0041a1;
    text-shadow: 2px 2px 2px #ffffff;
    font-weight: 900;
}

.hero-content p {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.hero-content button {
    align-self: flex-start;
    font-weight: 700;
    background-color: #FFCB2E;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.4), 
        0 1px 3px rgba(0, 0, 0, 0.4);
}

.hero-content button:hover {
    transform: translateY(-2px) translateX(2px); 
     box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
}

.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

.why-us {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 95%;
}

.why-us h2 {
    color: #0041a1;
    font-weight: 800;
    margin: 0 auto;
    text-align: center;
}

.sunergy-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
    /* padding: 10px 0; */
}

.sunergy-card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #d1d1d1;
    width: 100%;
    margin: 0 auto;
    gap: 1.5rem;
}

.sunergy-card .fa-circle-dollar-to-slot,
.sunergy-card .fa-leaf,
.sunergy-card .fa-shield-halved {
    color: #038724;
    font-size: 3rem;
}

.sunergy-card .card-content {
    width: 100%;
}

.sunergy-card  .card-content summary {
    font-size: 1.3rem;
    font-weight: 700;
}

.tailor-card-container {
    width: 95%;
    margin: 0 auto;
        background-color: white;
    border-radius: 10px;
    box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
}
.tailor-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-container img {
    border-radius: 10px;
    box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
}

.tailor-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
}

.tailor-content h2 {
    color: #0041a1;
    font-weight: 800;
}

.tailor-content button {
    align-self: flex-start;
    background: linear-gradient(to right, #08B032 0%, #00E03896 100%);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.4), 
        0 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.tailor-content button:hover {
    transform: translateY(-2px) translateX(2px); 
    box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
}

.explore-cards {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.explore-cards-container {
    margin-top: 30px;
}

.explore-cards-container h2 {
    color: #0041a1;
    text-align: center;
    font-weight: 800;
}

.explore-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 20vh;
    border-radius: 10px;
    box-shadow: 
        0 7px 14px rgba(0, 0, 0, 0.15), 
        0 3px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
}

.explore-card.img1 {
    background-image: linear-gradient(rgba(206, 206, 206, 0.575), rgba(207, 207, 207, 0.4)), url(images/how_it_works.jpg);
        background-size: cover;
}

.explore-card.img2 {
   background-image: linear-gradient(rgba(206, 206, 206, 0.575), rgba(207, 207, 207, 0.4)), url(images/green1.jpg);
    background-size: cover;
}

.explore-card.img3 {
    background-image: linear-gradient(rgba(206, 206, 206, 0.575), rgba(207, 207, 207, 0.4)), url(images/money_savings.jpg);
    background-size: cover;
}

.explore-card h3 {
    width: 80%;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #ffffff;
}

.explore-card button {
    align-self: center;
    background: linear-gradient(to right, #94FFB1 0%, #00E337 100%);
    border: none;
    border-radius: 25px;
    padding: 8px 10px;
    font-weight: 600;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.4), 
        0 1px 3px rgba(0, 0, 0, 0.4);
}

/* Footer section style */
footer {
    margin-top: 40px;
    background-color: #003990;
    color: white;
    padding: 20px 0;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #FFCB2E;
    font-weight: 600;
}

footer .footer-logo {
    width: 40vw;
    align-self: center;
}

footer details summary {
    font-weight: 700;
}

.quick-link {
    cursor: pointer;
    margin-bottom: 10px;
}

.quick-link a {
    cursor: pointer;
    display: block;
    padding: 4px 0;
}

.contact-us {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact-us .phone-no,
.contact-us .email,
.contact-us .location {
    padding: 4px 0;
}

.contact-us .phone-no {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact-us .email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}


.contact-us .location {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
}

.contact-us .location iframe {
    grid-column: 1 / span 2;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.follow-us {
    cursor: pointer;
    margin-bottom: 10px;
}

.follow-us a {
    font-size: 1.5rem;
    padding: 0 3px;
}

.copyright {
    align-self: center;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.media-attributions summary {
    font-weight: normal;
    align-self: center;
    text-align: center;
    font-size: 14px;
}

.media-attributions p {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    align-self: center;
    text-align: center;
    padding: 3px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}